@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
      .text-shadow {
        text-shadow: 2px 2px 4px black;
      }
      .text-shadow-md {
        text-shadow: 4px 4px 8px black;
      }
      .text-shadow-lg {
        text-shadow: 15px 15px 30px black;
      }
      .text-shadow-none {
        text-shadow: none;
      }
  } 
}

.mask {
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0,0,0,0)));
  mask-image: gradient(linear, left 90%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

@font-face {
  font-family: 'vidya-icons';
  src:  url('/fonts/vidya-icons.eot?3jztue');
  src:  url('/fonts/vidya-icons.eot?3jztue#iefix') format('embedded-opentype'),
    url('/fonts/vidya-icons.ttf?3jztue') format('truetype'),
    url('/fonts/vidya-icons.woff?3jztue') format('woff'),
    url('/fonts/vidya-icons.svg?3jztue#vidya-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  overflow-x: hidden;
}

.scrollbar-thin::-webkit-scrollbar  {
  width: 3px;
}

:root {
  ::-webkit-scrollbar {
    width: 5px;
  }
  &.dark {
    ::-webkit-scrollbar-thumb {
      @apply bg-light-200 ;
    }
    ::-webkit-scrollbar-thumb:hover {
      @apply bg-light-200 ;
    }
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary-100 ;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-100 ;
  }
}


[class^="-"], [class*=" -"] {
  font-family: 'vidya-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.-ic-swap:before {
  content: "\e900";
}

.-ic-darkmode:before {
  content: "\e901";
}
.-ic-lightmode:before {
  content: "\e902";
}
.-ic-menu:before {
  content: "\e903";
}
.-ic-close:before {
  content: "\e904";
}
.-ic-settings:before {
  content: "\e905";
}
.-ic-up-arrow:before {
  content: "\e906";
}
.-ic-down-arrow:before {
  content: "\e907";
}
.-ic-chevron:before {
  content: "\e908";
}

body {
  font-family: 'Saira Semi Condensed', sans-serif;
  background-color: white;
}